<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjBgn1n624BTxVAOkXAV8RrBtJ4uJanks</string>
	<key>GCM_SENDER_ID</key>
	<string>820060434671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaloapp</string>
	<key>PROJECT_ID</key>
	<string>zaloapp-133bc</string>
	<key>STORAGE_BUCKET</key>
	<string>zaloapp-133bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820060434671:ios:6cbd1b0e4a3d60b98b6b1a</string>
</dict>
</plist>